$primaryBackgroundColor: #111;
$primaryTextColor: #FFF;

// TODOLIST
.todolist {
  height: calc(100vh - 100px);
  overflow-y: auto;
}

// WRAP TODOLIST FOR TODOITEM
.todolist__todoitem {
  display: grid;
  grid-template-columns: 64px 1fr 64px;
  align-content: center;
  margin-top:5px;
  margin-bottom:5px;
  height: 64px;
};
