$primaryBackgroundColor: #111;
$primaryTextColor: #FFF;

// APPLICATION
:host {
  display: grid;
  height: 100vh;
  grid-template-rows: 64px 1fr;
};

// WRAP FOR HEADER
app-header {
  max-height: 64px;
  min-height: 56px;
}
  
// WRAP FOR WORKSPACE
  app-todos {
    display: grid;
    grid-template-columns: 4fr 8fr;
    grid-gap: 10px;
  }
