$primaryBackgroundColor: #111;
$primaryTextColor: #FFF;

// APPLICATION
.application {
  display: grid;
  height: 100vh;
  grid-template-rows: 64px 1fr;
};

// WRAP FOR HEADER
.application__header {
  display: grid;
  background-color: $primaryBackgroundColor;
  color: $primaryTextColor;
  max-height: 64px;
  min-height: 56px;

  justify-content: center;
  align-content: center;

  font-size: 14px;
  text-transform: uppercase;

  letter-spacing: 3pt;
  word-spacing: 10pt;
}
  
// WRAP FOR WORKSPACE
  .application__workspace {
  display: grid;
  grid-template-columns: 4fr 8fr;
  grid-gap: 10px;
  }

// WRAP FOR TODOLIST
  .application__todolist {
    display: grid;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
  }

// WRAP FOR TODOVIEW
.application__todoview {
  display: grid;
  // box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
  
// TODOLIST
.todolist {
  height: calc(100vh - 100px);
  overflow-y: auto;
}

// WRAP TODOLIST FOR TODOITEM
.todolist__todoitem {
  display: grid;
  grid-template-columns: 64px 1fr 64px;
  align-content: center;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  margin-top:5px;
  margin-bottom:5px;
  height: 64px;
};

// TODOITEM
.todoitem__toogle{
  color: $primaryBackgroundColor;
  cursor: pointer;
  justify-self: center;
}

.todoitem__title{
  line-height: 24px;
  cursor: pointer;
}

.todoitem__title--completed{
  text-decoration: line-through
}

.todoitem__delete {
  color: $primaryBackgroundColor;
  justify-self: center;
  cursor: pointer;
}

// WRAPPER todoview FOR add-new-task
.todoview__add-new-task{
  display: grid;
}

.add-new-task--title-input{
  display: grid;
  padding: 10px;
  grid-template-rows: 64px 1fr;
  grid-gap: 25px;

  input, textarea {
    background-color: #FFF;
    border: none;
    color: #111;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    line-height: 32px;
    font-size: 20px;
  }

  input:focus.ng-invalid.ng-dirty {
    border: 1px solid #dd0031;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 64px;
    grid-gap: 10px;
    
    button {
      display: grid;
      align-items: center;
      justify-content: center;
      color: $primaryTextColor;
      background-color: $primaryBackgroundColor;
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      cursor: pointer;
      border: none;

      i {
        outline: none;
      }
    }
  }

}