<form action="" class="add-new-task--title-input" (ngSubmit)="onSubmit(); todoForm.reset() " #todoForm="ngForm">

  <header>
    <input type="text" [(ngModel)]="title" name="todoTitle" placeholder="Title for new task:" #titleValue required tabindex=1
      autofocus>
    <button type="submit" [disabled]="todoForm.form.invalid" tabindex=3>
      <i>create</i>
      <!-- <i>Добавить</i> -->
      <i class="material-icons"> create </i>
    </button>
  </header>

  <textarea [(ngModel)]="desc" name="todoDescription" tabindex=2 placeholder="Enter description for task (unrequired field)"></textarea>
</form>